.header-logo{
    filter: invert(1);
}

nav{
    background-color: var(--black);
}

.main-menu a{
    color: var(--white) ;
}

.main-menu a:hover{
    color: var(--hover-color) ;
}

a.active{
    color: var(--primary-color);
}